
.salutation {
  font-size: var(--type-size-2xl);
  font-family: var(--typeface-heading);
  font-weight: var(--type-weight-800);
  line-height: 1;
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
}

.intro {
  font-family: var(--type-body);
  line-height: 1.3;
  margin-bottom: 3rem;
}

.who-am-i {
  font-size: var(--type-size-2xl);
  display: block;
  line-height: 1;
  margin-bottom: 1rem;
}

.who-am-i-ext {
  font-size: var(--type-size-lg);
  font-weight: var(--type-weight-300);
  display: block;
  color: var(--color-text-lighter);
}

@media (min-width: 70rem) {
  .salutation {
    font-size: var(--type-size-2xl--vp-lg);
  }

  .who-am-i-ext {
    font-size: var(--type-size-lg--vp-lg);
  }
}

.public-profiles {
  margin-bottom: 1em;
}

.public-profiles p {
  margin-bottom: 0.5rem;
}
