:root {
  /* Colors */
  --color-bg: #fff;
  --color-text: #000;
  --color-text-light: #555;
  --color-text-lighter: #767676;
  --color-link: #000;
  --color-link--visited: #000;
  --color-bg-light: #efefef;

  /* Tyopeface */
  --typeface-body: Helvetica, Arial, sans-serif;
  --typeface-heading: Montserrat, Futura, Helvetica, Arial, sans-serif;

  /* Leading */
  --leading-none: 1;
  --leading-xs: 1.2;
  --leading-sm: 1.35;
  --leading-md: 1.5;
  --leading-lg: 2;

  /* Type weights */
  --type-weight-300: 300;
  --type-weight-400: 400;
  --type-weight-500: 500;
  --type-weight-600: 600;
  --type-weight-700: 700;
  --type-weight-800: 800;
  --type-weight-900: 900;

  /* Type sizes */
  --type-size-2xl: 3rem;
  --type-size-2xl--vp-lg: 3.6rem;
  --type-size-xl: 2.6rem;
  --type-size-xl--vp-lg: 2.4rem;
  --type-size-lg: 2rem;
  --type-size-lg--vp-lg: 2rem;
  --type-size-md: 1.8rem;
  --type-size-md--vp-lg: 1.6rem;
  --type-size-sm: 1.4rem;
  --type-size-sm--vp-lg: 1.2rem;
  
  /* Spacing */
  --space-none: 0;
  --space-3xs: 0.1em;
  --space-2xs: 0.25em;
  --space-xs: 0.5em;
  --space-sm: 0.75em;
  --space-md: 1em;
  --space-lg: 1.5em;
  --space-xl: 2em;

  /* border radius */
  --radius-xs: .15em;
  --radius-sm: .25em;

  --outline-style: 1px dotted currentColor;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #18171C;
    --color-text: #fff;
    --color-text-light: #777;
    --color-text-lighter: #aaa;
    --color-link: #F1CB73;
    --color-link--visited: #F1CB73;
    --color-bg-light: #2a2a2a;
  }
}  */
